<!doctype html>
<html>
	<head>
		<title>{% block title %}Site{% endblock %} - {{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>
		<link rel="alternate" type="application/atom+xml" title="Blog - {{ title }}" href="{{ url_for('postatom') }}" />
		{% block css %}
		{% endblock %}
		{% block js %}
		{% endblock %}

	</head>
	<body>
		<div id="wrapper">
			<div id="logo">
				<h1>{{ title }}</h1>
				<p>{{ slogan }}</p>
			</div>
			<p class="nav"><a href="/blog">blog</a> // <a href="/about">about</a> // <a href="/contact">contact</a></p>
			{% if current_user.is_authenticated() %}<p class="adminnav">admin: <a href="/admin/page">pages</a> // <a href="/admin/user">user</a>{% endif %}</p>
			<div id="content">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div id="messages">
						{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
				{% block content %}
				{% endblock %}
			</div>
			<p id="footer">{% if current_user.is_authenticated() %}<a href="/admin/user/edit/{{ current_user.id }}">profile</a> // <a href="/logout">logout</a>{% else %}<a href="/login">login</a>{% endif %} // <a href="/blog/atom">atom feed</a> // <a href="/imprint">imprint</a>
		</div>
	</body>
</html>