{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">{% endblock %}
{% block content %}
<div class="form">
	<form method="POST" action="{{ url_for('login', next=next) }}">
		<label for "email">mail:</label><br />
		<input type="text" id="email" name="email" size="40"><br />
		<label for "password">pass:</label><br />
		<input type="password" id="password" name="password" size="40"><br />
		<input type="submit" value="Login">
	</form>
</div>
{% endblock %}
