{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blog.css') }}">{% endblock %}

{% block content %}
{% if current_user.is_authenticated() %}<p class="adminnav">blog: <a href="{{ url_for('blog.postadd') }}">add post</a></p>{% endif %}
{% if posts.items %}
	{% for post in posts.items %}
		<div class="post">
			<h2 class="title"><a href="{{ url_for('blog.postshow', id=post.id) }}">{{ post.title }}</a></h2>
			<p class="meta">Posted by {{ post.author.name }} on {{ post.created }}</p>
			{{ post.body_html|safe }}
			{% if current_user.is_authenticated() %}<p class="meta nav" style="text-align: right;">post: <a href="{{ url_for('blog.postedit', id=post.id) }}">edit</a> // <a href="{{ url_for('blog.postdel', id=post.id) }}">delete</a></span>{% endif %}
		</div>
	{% endfor %}
	<div id="pagination">
		{% if posts.has_prev %}
		<span id="back"><a href="{{ url_for('blog.postpage', page=posts.prev_num) }}">More recent</a></span>
		{% endif %}
		<span id="active">{{ posts.page }} of {{ posts.pages }}</span>
		{% if posts.has_next %}
		<span id="next"><a href="{{ url_for('blog.postpage', page=posts.next_num) }}">Less recent</a></span>
		{% endif %}
	</div>
{% else %}
	<p>There are no posts yet.</p>
{% endif %}
{% endblock %}