{% extends "base.html" %}
{% block title %}Pages{% endblock %}
{% block content %}
<p class="adminnav">pages: <a href="/admin/page/add">add page</a></p>
{% if pages %}
	<ul>
	{% for page in pages %}
		<li>{{ page.title }}<br />
		Located at <a href="/{{ page.path }}">/{{ page.path }}</a><br />
		<a href="/admin/page/edit/{{ page.id }}">Edit</a> // <a href="/admin/page/delete/{{ page.id }}">Delete</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>There are no pages yet.</p>
{% endif %}
{% endblock %}