{% extends "base.html" %}
{% block title %}Pages{% endblock %}
{% block content %}
<p class="adminnav">pages: <a href="{{ url_for('admin.add', model_name='Page') }}">add page</a></p>
{% if pages %}
	<ul>
	{% for page in pages %}
		<li>{{ page.title }}<br />
		Located at <a href="/{{ page.path }}">/{{ page.path }}</a><br />
		<a href="{{ url_for('admin.edit', model_name='Page', model_url_key=page.id) }}">Edit</a> // <a href="{{ url_for('admin.delete', model_name='Page', model_url_key=page.id) }}">Delete</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
	<p>There are no pages yet.</p>
{% endif %}
{% endblock %}
